.ShowSessions-list-item {
  padding: 20px 20px 0 !important;
  background: var(--background-secondary);
}
.ShowSessions-list-headerContainer > b {
  order: 1;
  padding-bottom: 10px;
  font-weight: 600;
  color: var(--header-primary);
  font-family: var(--font-display);
}
.ShowSessions-list-avatarWrapper .wrapper-1VLyxH {
  width: 40px !important;
  height: 40px !important;
}
.ShowSessions-list-badgesContainer {
  padding: 0 0 10px 8px !important;
  order: 1;
}
.ShowSessions-list-headerContainer {
  margin-bottom: 20px !important;
}
.ShowSessions-list-headerContainer .ShowSessions-list-avatarWrapper {
  margin: 0 10px 0 0 !important;
  order: 0 !important;
}
.ShowSessions-list-message {
  position: absolute;
  padding: 20px 50px;
  font-size: 14px;
  line-height: 1.4;
  color: var(--header-secondary);
}
.ShowSessions-list-body {
  height: 0;
  overflow: hidden;
  background-color: var(--background-primary);
  border-radius: 5px;
  padding: 0 20px;
  transition: 0.5s ease;
}
.ShowSessions-list-item:hover .ShowSessions-list-body {
  height: 162px;
  margin-bottom: 20px;
  transition: 0.5s ease;
}
.ShowSessions-list-sessionInfo b {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: var(--header-secondary);
  font-family: var(--font-display);
}
.ShowSessions-list-sessionInfo span {
  font-size: 14px;
}
.ShowSessions-list-sessionInfo:nth-child(1) {
  position: absolute;
  right: 40px;
  transform: translate(0, -58px);
}
.ShowSessions-list-sessionInfo:nth-child(1) b {
  display: none;
}
.ShowSessions-list-sessionInfo:nth-child(2) {
  margin: 20px 0 0;
}
